{{define "title"}}Login{{end}} {{define "main"}}
<div class="column"></div>
<div class="column"></div>
<div class="column"></div>
<section
  class="is-is-fullheight is-flex is-flex-direction-column is-align-items-center is-justify-content-center mt-6"
>
  <p class="title">Start building your own models</p>
  <div class="column is-half">
    <form class="box is-flex is-flex-direction-column">
      <div class="block"></div>

      <div class="field">
        <label class="label">Email</label>
        <div class="control">
          <input
            class="input"
            type="email"
            placeholder="e.g. alex@example.com"
          />
        </div>
      </div>
      <div class="block"></div>
      <div class="field">
        <label class="label">Password</label>
        <div class="control">
          <input class="input" type="password" placeholder="********" />
        </div>
      </div>
      <div class="block"></div>
      <button class="button is-warning">Log in</button>
      <div class="block"></div>
    </form>
  </div>
</section>

{{end}}
