{{define "title"}}Login{{end}} {{define "main"}}
<div class="column"></div>
<div class="column"></div>
<div class="column"></div>
<section
  class="is-is-fullheight is-flex is-flex-direction-column is-align-items-center is-justify-content-center mt-6"
>
  <p class="title">Start building your own models</p>
  <div class="column is-half">
    <form
      class="box is-flex is-flex-direction-column"
      action="/user/login"
      method="POST"
      novalidate
    >
      <div class="block"></div>
      {{range .Form.NonFieldErrors}}
      <script>
        document.addEventListener('DOMContentLoaded', () => {
          (document.querySelectorAll('.notification .delete') || []).forEach(($delete) => {
            const $notification = $delete.parentNode;

            $delete.addEventListener('click', () => {
              $notification.parentNode.removeChild($notification);
            });
          });
        });
      </script> 
      <div class="container is-flex is-justify-content-center">
        <div class="notification is-danger" style="position: absolute">
          <button class="delete"></button>
          {{.}}
        </div>
      </div>
      {{end}}
      <div class="field">
        <label class="label">Email</label>
        <div class="control">
          <input class="input" type="email" name="email" />
          {{with .Form.FieldErrors.email}}
          <p class="help is-danger">{{.}}</p>
          {{end}}
        </div>
      </div>
      <div class="block"></div>
      <div class="field">
        <label class="label">Password</label>
        <div class="control">
          <input class="input" type="password" name="password" />
          {{with .Form.FieldErrors.password}}
          <p class="help is-danger">{{.}}</p>
          {{end}}
        </div>
      </div>
      <div class="block"></div>
      <button class="button is-warning" type="submit">Log in</button>
      <div class="block"></div>
    </form>
  </div>
</section>

{{end}}
