{{define "title"}}Login{{end}} {{define "main"}}
<div class="column"></div>
<div class="column"></div>
<div class="column"></div>
<section
  class="is-is-fullheight is-flex is-flex-direction-column is-align-items-center is-justify-content-center mt-6"
>
  <p class="title">Start building your own models</p>
  <div class="column is-half">
    <form
      class="box is-flex is-flex-direction-column"
      action="/user/login"
      method="POST"
      novalidate
    >
      <div class="block"></div>
      {{range .Form.NonFieldErrors}}
      <div class="error">{{.}}</div>
      {{end}}
      <div class="field">
        {{with .Form.FieldErrors.email}}
        <label class="error">{{.}}</label>
        {{end}}
        <label class="label">Email</label>
        <div class="control">
          <input class="input" type="email" name="email" />
        </div>
      </div>
      <div class="block"></div>
      <div class="field">
        {{with .Form.FieldErrors.password}}
        <label class="error">{{.}}</label>
        {{end}}
        <label class="label">Password</label>
        <div class="control">
          <input class="input" type="password" name="password" />
        </div>
      </div>
      <div class="block"></div>
      <button class="button is-warning" type="submit">Log in</button>
      <div class="block"></div>
    </form>
  </div>
</section>

{{end}}
