{{define "title"}}Signup{{end}} {{define "main"}}
<div class="column"></div>
<div class="column"></div>
<div class="column"></div>
<section
  class="is-is-fullheight is-flex is-flex-direction-column is-align-items-center is-justify-content-center mt-6"
>
  <p class="title">Begin your journey now</p>
  <div class="column is-half">
    <form
      class="box is-flex is-flex-direction-column"
      action="/user/signup"
      method="POST"
      novalidate
    >
      <div class="control">
        <label class="label">Name</label>
        <input type="text" class="input" name="name" value="{{.Form.Name}}" />
        {{with .Form.FieldErrors.name}}
        <p class="help is-danger">{{.}}</p>
        {{end}}
      </div>
      <div class="block"></div>
      <div class="control">
        <label class="label">Email</label>
        <input type="email" class="input" name="email" value="{{.Form.Email}}" />
        {{with .Form.FieldErrors.email}}
        <p class="help is-danger">{{.}}</p>
        {{end}}
      </div>
      <div class="block"></div>
      <div class="control">
        <label class="label">Password</label>
        <input class="input" type="password" name="password" />
        {{with .Form.FieldErrors.password}}
        <p class="help is-danger">{{.}}</p>
        {{end}}
      </div>
      <div class="block"></div>
      <input class="button is-warning" type="submit" value="Sign up" />
    </form>
  </div>
</section>
{{end}}
