{{define "title"}}Train Model{{end}} {{define "main"}}

<head>
  <!-- Load plotly.js into the DOM -->
  <script src="https://cdn.plot.ly/plotly-2.14.0.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
  <script src="/static/js/train.js"></script>
  <link rel="stylesheet" href="/static/css/train.css" />
</head>

<body>
  <div id="myDiv"><!-- Plotly chart will be drawn inside this DIV --></div>

  <div class="tabs is-centered is-boxed is-medium is-fullwidth">
    <ul>
      <li class="is-active" id="step-one">
        <a href="#" onclick="selectStep('one')"> Select Range</a>
      </li>
      <li id="step-two">
        <a href="#" onclick="selectStep('two')"> Select Model</a>
      </li>
      <li id="step-three">
        <a href="#" onclick="selectStep('three')"> Train</a>
      </li>
    </ul>
  </div>
  <section class="content step-one">
    <label for="start">Start date:</label>

    <input
      class="input is-primary"
      type="date"
      id="start"
      name="trip-start"
      value="2022-01-22"
      min="2018-01-01"
      max="2018-12-31"
    />
    <label for="start">End date:</label>
    <input
      class="input is-primary"
      type="date"
      id="start"
      name="trip-start"
      value="2022-07-22"
      min="2018-01-01"
      max="2018-12-31"
    />
  </section>

  <section class="content step-two is-hide">pLEASE SELECT MODEL</section>

  <section class="content step-three is-hide">
    <div class="control"></div>

    <form action="/model/train" method="post">
      <div class="field">
        <label class="label">Label</label>
        <div class="control">
          <input class="input" type="text" placeholder="Text input" />
        </div>
        <p class="help">This is a help text</p>
      </div>
      <div class="field is-grouped">
        <div class="control">
          <button class="button is-link">Submit</button>
        </div>
        <div class="control">
          <button class="button is-link is-light">Cancel</button>
        </div>
      </div>
    </form>
  </section>
</body>

{{end}}
