{{define "title"}}Train Model{{end}} {{define "main"}}

<head>
  <!-- Load plotly.js into the DOM -->
  <script src="https://cdn.plot.ly/plotly-2.14.0.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
  <script src="/static/js/train.js"></script>
  <link rel="stylesheet" href="/static/css/train.css" />
  <script>
    let x = [];
    let y = [];
    let x1 = [];
    let y1 = [];
    let x2 = [];
    let y2 = [];
    let x3 = [];
    let y3 = [];
    let indexarr = [];

    const convertToUnix = (datestr) => {
      const date = new Date(datestr);
      const timestampInMs = date.getTime();
      const unixTimestamp = Math.floor(date.getTime() / 1000);
      return unixTimestamp;
    };

    const fetchDateData = (boo) => {
      date = boo ? fetchDate() : '';
      let s = boo ? date[0] : '1638244800';
      let e = boo ? date[1] : '1655524800';
      console.log(date);
      apiString =
        'https://api.coingecko.com/api/v3/coins/bitcoin/market_chart/range?vs_currency=usd&from=' +
        s +
        '&to=' +
        e;
      axios
        .get(apiString)
        .then(function (response) {
          x = response.data['prices'].map((price) => {
            return moment(price[0]).format();
          });
          y = response.data['prices'].map((price) => {
            return price[1];
          });
        })
        .catch(function (error) {})
        .finally(function () {
          x1 = [];
          y1 = [];
          x2 = [];
          y2 = [];
          x3 = [];
          y3 = [];
          drawPlot();
        });
    };

    const drawPlot = () => {
      var data = [
        {
          x: x,
          y: y,

          type: 'scatter',
          name: 'Price',
        },
        x1.length === 0
          ? {}
          : {
              x: x1,
              y: y1,

              type: 'scatter',
              name: indexarr[0],
            },
        x2.length === 0
          ? {}
          : {
              x: x2,
              y: y2,

              type: 'scatter',
              name: indexarr[1],
            },
        x3.length === 0
          ? {}
          : {
              x: x3,
              y: y3,

              type: 'scatter',
              name: indexarr[2],
            },
      ];

      Plotly.newPlot('myDiv', data);
    };

    const fetchDate = () => {
      let s = '';
      let e = '';

      s = convertToUnix(document.getElementById('start').value);
      e = convertToUnix(document.getElementById('end').value);
      return [s, e];
    };
    fetchDateData(false);

    let golangVar = [];
    golangVar =
      '{{range $i, $e :=.MyModels}} {{.Name}} {{.First_index.String}} {{with .Second_index.String}} {{.}} {{else}} {{"null"}} {{end}}{{with .Third_index.String}} {{.}} {{else}} {{"null"}} {{end}} {{end}}';
    golangVar = golangVar.split(' ').filter((item) => item !== '');
    console.log(golangVar);

    const fetchIndicator = () => {
      x1 = [];
      y1 = [];
      x2 = [];
      y2 = [];
      x3 = [];
      y3 = [];
      let e = document.getElementById('select_index');
      let start = document.getElementById('start').value;
      let end = document.getElementById('end').value;

      let modelpos = golangVar.indexOf(e.value);
      indexarr = [golangVar[modelpos + 1], golangVar[modelpos + 2], golangVar[modelpos + 3]];

      for (var i = 0; i < indexarr.length; i++) {
        if (indexarr[i] === 'null') {
          indexarr.splice(i, 1);
          i--;
        }
      }

      console.log(indexarr);
      axios
        .post('http://127.0.0.1:8080/index', {
          Begin: start,
          End: end,
          Feature: 'btc-usd',
          Index: indexarr,
        })
        .then(function (response) {
          x1 = response.data['index_data'][indexarr[0].toLowerCase()].map((price) => {
            return moment(price[0]).format();
          });
          y1 = response.data['index_data'][indexarr[0].toLowerCase()].map((price) => {
            return price[1];
          });
          if (indexarr.length === 2) {
            x2 = response.data['index_data'][indexarr[1].toLowerCase()].map((price) => {
              return moment(price[0]).format();
            });
            y2 = response.data['index_data'][indexarr[1].toLowerCase()].map((price) => {
              return price[1];
            });
          }
          if (indexarr.length === 3) {
            x2 = response.data['index_data'][indexarr[1].toLowerCase()].map((price) => {
              return moment(price[0]).format();
            });
            y2 = response.data['index_data'][indexarr[1].toLowerCase()].map((price) => {
              return price[1];
            });
            x3 = response.data['index_data'][indexarr[2].toLowerCase()].map((price) => {
              return moment(price[0]).format();
            });
            y3 = response.data['index_data'][indexarr[2].toLowerCase()].map((price) => {
              return price[1];
            });
          }
        })
        .catch(function (error) {
          console.log(error);
        })
        .finally(function () {
          console.log(x2);
          console.log(y2);
          drawPlot();
        });
    };
  </script>
</head>

<body>
  <form action="/model/train" method="post">
    <div id="myDiv"><!-- Plotly chart will be drawn inside this DIV --></div>
    <div class="tabs is-centered is-boxed is-medium is-fullwidth">
      <ul>
        <li class="is-active" id="step-one">
          <a href="#" onclick="selectStep('one')"> Select Range</a>
        </li>
        <li id="step-two">
          <a href="#" onclick="selectStep('two')"> Select Model</a>
        </li>
        <li id="step-three">
          <a href="#" onclick="selectStep('three')"> Train</a>
        </li>
      </ul>
    </div>
    <section class="content step-one">
      <label for="start">Start date:</label>

      <input
        class="input is-primary"
        type="date"
        id="start"
        name="start"
        value="2022-01-22"
        min="2018-01-01"
        max="2022-09-31"
      />

      <label for="start">End date:</label>
      <input
        class="input is-primary"
        type="date"
        id="end"
        name="end"
        value="2022-07-22"
        min="2018-01-01"
        max="2022-09-31"
      />
      <button class="button is-link" id="date-btn" type="button" onclick="fetchDateData(true)">
        Select
      </button>
    </section>

    <section class="content step-two is-hide">
      <div class="select">
        <select id="select_index" name="model">
          {{range $i, $e :=.MyModels}}
          <option value="{{.Name}}">{{.Name}}</option>
          {{end}}
        </select>
        <button class="button is-link" id="index-btn" type="button" onclick="fetchIndicator()">
          Draw Plot
        </button>
      </div>
    </section>

    <section class="content step-three is-hide">
      <div class="control"></div>
      <div class="control">
        <button class="button is-link" type="submit">Train</button>
      </div>
    </section>
  </form>
</body>

{{end}}
