{{define "title"}}Model #{{.Model.Id}}{{end}} {{define "main"}}
<head>
  <link rel="stylesheet" href="/static/css/view.css" />
  <script src="/static/js/create.js"></script>
</head>

<form id="put-form" action="/model/create" method="POST">
  <div class="column is-flex is-align-items-center is-flex-direction-column">
    <div class="column is-four-fifths">
      <label class="label">Name</label>
      <div class="control">
        <input
          class="input"
          name="name"
          type="text"
          placeholder="Name"
          value="{{.Model.Name}}"
          disabled="true"
        />
      </div>
    </div>
    <div class="column is-four-fifths is-flex">
      <div class="column"><label class="label">Crypto</label></div>
      <div class="column">
        <label class="radio">
          <input type="radio" name="crypto" value="bitcoin" />
          Bitcoin
        </label>
      </div>
      <div class="column">
        <label class="radio">
          <input type="radio" name="crypto" value="ethereum" />
          Ethereum
        </label>
      </div>
      <div class="column">
        <label class="radio">
          <input type="radio" name="crypto" value="solana" />
          Solana
        </label>
      </div>
    </div>
    <div class="column is-four-fifths is-flex is-justify-content-start">
      <div class="column">
        <label class="label">Indicator</label>
      </div>
      <div class="column">
        <input
          type="checkbox"
          class="checkbox"
          name="index"
          onclick="checkboxControl(0)"
          value="DEMA"
        />
        <span>DEMA</span>
      </div>
      <div class="column">
        <input
          type="checkbox"
          class="checkbox"
          name="index"
          onclick="checkboxControl(1)"
          id="1"
          value="EMA"
        />
        <span>EMA</span>
      </div>
      <div class="column">
        <input
          type="checkbox"
          class="checkbox"
          name="index"
          onclick="checkboxControl(2)"
          id="1"
          value="KAMA"
        />
        <span>KAMA</span>
      </div>
      <div class="column">
        <input
          type="checkbox"
          class="checkbox"
          name="index"
          onclick="checkboxControl(3)"
          id="1"
          value="SAR"
        />
        <span>SAR</span>
      </div>
      <div class="column">
        <input
          type="checkbox"
          class="checkbox"
          name="index"
          onclick="checkboxControl(4)"
          id="1"
          value="CCI"
        />
        <span>CCI</span>
      </div>
      <div class="column">
        <input
          type="checkbox"
          class="checkbox"
          name="index"
          onclick="checkboxControl(5)"
          id="1"
          value="ADX"
        />
        <span>ADX</span>
      </div>
    </div>
    <div class="column is-four-fifths is-flex">
      <div class="column">
        <label class="label">Ratio of Train Data</label>
        <div class="control">
          <input
            class="input"
            name="ratio_of_train"
            type="number"
            placeholder="0.8"
            step="0.1"
            value="{{.Model.Ratio_of_train}}"
            disabled="true"
          />
        </div>
      </div>

      <div class="column">
        <label class="label">Look Back Days</label>
        <div class="control">
          <input
            class="input"
            name="look_back"
            type="number"
            placeholder="5"
            value="{{.Model.Look_back}}"
            disabled="true"
          />
        </div>
      </div>
      <div class="column">
        <label class="label">Forcast Days</label>
        <div class="control">
          <input
            class="input"
            name="forcast_days"
            type="number"
            placeholder="3"
            value="{{.Model.Forecast_days}}"
            disabled="true"
          />
        </div>
      </div>
    </div>
    <div class="column is-four-fifths is-flex">
      <div class="column">
        <label class="label">First Layer Unit</label>
        <div class="control">
          <input
            class="input"
            name="first_layer"
            type="number"
            placeholder="3"
            value="{{.Model.First_layer}}"
            disabled="true"
          />
        </div>
      </div>
      <div class="column">
        <label class="label">Second Layer Unit</label>
        <div class="control">
          <input
            class="input"
            name="second_layer"
            type="number"
            placeholder="3"
            value="{{.Model.Second_layer.Int16}}"
            disabled="true"
          />
        </div>
      </div>
      <div class="column">
        <label class="label">Third Layer Unit</label>
        <div class="control">
          <input
            class="input"
            name="third_layer"
            type="number"
            placeholder="3"
            value="{{.Model.Third_layer.Int16}}"
            disabled="true"
          />
        </div>
      </div>
    </div>
    <div class="column is-four-fifths is-flex">
      <div class="column">
        <label class="label">Learning Rate</label>
        <div class="control">
          <input
            class="input"
            name="learning_rate"
            type="number"
            placeholder="0.01"
            step="0.01"
            value="{{.Model.Learning_rate}}"
            disabled="true"
          />
        </div>
      </div>
      <div class="column">
        <label class="label">Epoch</label>
        <div class="control">
          <input
            class="input"
            name="epoch"
            type="number"
            placeholder="3"
            value="{{.Model.Epoch}}"
            disabled="true"
          />
        </div>
      </div>
      <div class="column">
        <label class="label">Batch Size</label>
        <div class="control">
          <input
            class="input"
            name="batch_size"
            type="number"
            placeholder="3"
            value="{{.Model.Batch_size}}"
            disabled="true"
          />
        </div>
      </div>
    </div>

    <!-- ---------------------------------------------- -->

    <span id="error" style="color: red; position: absolute"></span>

    <!-- ---------------------------------------------------------- -->
    <div class="field is-grouped">
      <div class="control">
        <button
          class="button is-primary is-normal"
          type="button"
          onclick="toggleInput()"
          id="btn-left"
        >
          Edit
        </button>
      </div>
      <div class="control">
        <button class="button is-link is-danger is-normal" id="btn-right" type="button">
          Delete
        </button>
      </div>
    </div>
  </div>
</form>
<!-- The Modal -->
<div id="myModal" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <p>Some text in the Modal..</p>
  </div>
</div>
<script src="/static/js/view.js"></script>
{{end}}
