{{define "nav"}}
<nav class="navbar" role="navigation" aria-label="main navigation" z>
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <img src="/static/img/beatcoin.jpg" width="120" height="50" />
    </a>

    <a
      role="button"
      class="navbar-burger"
      aria-label="menu"
      aria-expanded="false"
      data-target="navbarBasicExample"
    >
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="/model/play">Play</a>
      <a class="navbar-item" href="/model/rank"> Rank </a>
      {{if .IsAuthenticated}}
      <a class="navbar-item" href="/model/create">Create</a>
      {{end}}
      <a class="navbar-item"> Documentation </a>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        {{if not .IsAuthenticated}}
        <div class="buttons">
          <a class="button is-warning" href="/user/signup">
            <strong>Sign up</strong>
          </a>

          <a class="button is-light" href="/user/login"> Log in </a>
          {{else}}
          <form action="/user/logout" method="POST">
            <button>Logout</button>
            {{end}}
          </form>
        </div>
      </div>
    </div>
  </div>
</nav>
{{end}}
